src/main/resources/wikipedia/wikipedia.dat
.idea/
target/
project/target/
target/scala-2.11/
target/streams/$global/$global/$global/
target/streams/compile/$global/
target/streams/compile/compile/
target/streams/compile/compileIncremental/
target/streams/compile/copyResources/
target/streams/compile/dependencyClasspath/
target/streams/compile/exportedProducts/
target/streams/compile/incCompileSetup/
target/streams/compile/internalDependencyClasspath/
target/streams/runtime/exportedProducts/
target/streams/test/$global/
target/streams/test/compile/
target/streams/test/compileIncremental/
target/streams/test/copyResources/
target/streams/test/definedTests/
target/streams/test/dependencyClasspath/
target/streams/test/exportedProducts/
target/streams/test/fullClasspath/
target/streams/test/incCompileSetup/
target/streams/test/internalDependencyClasspath/
target/streams/test/loadedTestFrameworks/
target/streams/test/test/
target/test-reports/
